:root {
  --bg-product: #fff;
  --sub-text: #767676;
  --pri-text: #000;
  --primary-color: rgb(231, 76, 43);
  --bg: #f5f5f5;
}
html {
  scroll-behavior: smooth;
}

body {
  overscroll-behavior-x: none;
}
a {
  text-decoration: none;
}
.header__sort-bar {
  display: none;
}

.container {
  background-color: var(--bg);
  overflow-x: hidden;
}

.product__head {
  background-color: var(--bg-product);
  top: var(--header-height);
  flex-wrap: nowrap;
}

.product__head__info {
  color: var(--sub-text);
}

.product__head__img {
  background: url(../img/product/ip12-128gb.png) center / cover;
  height: 440px;
  width: 440px;
}

.product__head__slide-imgs {
  cursor: zoom-in;
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
}

.product__head__slide-img img {
  width: 82px;
  height: 82px;
}
.product__head__slide-img img:hover {
  border: 1px solid var(--primary-color);
}
.product__head-share {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
  padding: 20px;
}
.product__head-share__icon a {
  font-size: 2.5rem;
  padding: 5px;
}
.product__head-share__label i {
  cursor: pointer;
  color: var(--primary-color);
  font-size: 2rem;
  padding: 5px;
}

.product__head__info-title {
  position: relative;
  font-size: 2rem;
  font-weight: 400;
  color: var(--pri-text);
}

.product__head__info-title::after {
  position: absolute;
  content: "Mall";
  bottom: 0px;
  left: -40px;
  width: 31px;
  display: block;
  height: 18px;
  background-color: red;
  line-height: 20px;
  color: #fff;
  font-size: 14px;
  border-radius: 3px;
  text-align: center;
  font-weight: 300;
}

.product__head__info-rank {
  display: flex;
  width: 300px;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  color: var(--sub-text);
  padding: 10px 0;
}

.product__head__info-rank-star {
  color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product__head__info-rank-star span {
  font-size: 1.6rem;
  text-decoration: underline;
  margin-right: 5px;
}

.product__head__info-rank-count,
.product__head__info-rank-bought {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.product__head__info-rank-count span,
.product__head__info-rank-bought span {
  font-size: 1.6rem;
  color: var(--pri-text);
}

.product__head__info-price {
  width: 350px;
  padding: 20px 0;
  display: flex;
  align-items: center;
}
.product__head__info-price-old {
  font-size: 1.6rem;
  color: var(--sub-text);
  text-decoration: line-through;
}

.product__head__info-price-discount {
  font-size: 3rem;
  color: var(--primary-color);
}

.product__head__info-price-sale {
  background-color: var(--primary-color);
  color: #fff;
  font-size: 1.2rem;
  width: 60px;
  height: 20px;
  text-align: center;
  padding: 2px 4px;
}

.product__head__info-tranform {
  display: flex;
  align-items: flex-start;
  padding: 20px;
}
.product__head__info-tranform span {
  font-size: 1.5rem;
  margin-right: 20px;
}
.product__head__info-tranform-s {
}
.product__head__info-tranform-s1 {
  padding-bottom: 10px;
}
.product__head__info-tranform-s1 .item {
  cursor: pointer;
}
.product__head__info-tranform-s1 .item svg {
  font-size: 1.4rem;
  width: 1rem;
  height: 1rem;
}
.product__head__info-tranform-s1 .item span {
  margin-right: 0;
  color: rgba(0, 0, 0, 0.836);
}
.product__head__info-tranform-s1 .item:hover span {
  color: var(--primary-color);
}
.proudct__head__info-tranform-a {
  position: relative;
}
.product__head__info-tranform-s1
  .item:hover
  .product__head__info-tranform-hover {
  display: block;
}

.product__head__info-tranform-hover {
  z-index: 1;
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 1.2rem;
  background-color: #f5f5f5;
  color: var(--sub-text);
  right: -350px;
  top: 15px;
  padding: 20px;
  max-width: 380px;
  border-radius: 2px;
  display: none;
}
.product__head__info-tranform-hover__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 10px;
}
.product__head__info-tranform-hover__top span {
  color: var(--primary-color) !important;
}
.product__head__info-tranform-hover__top div {
  color: var(--pri-text) !important;
  font-size: 1.4rem;
}

.product__head__info-tranform-hover__top p {
  text-decoration: line-through;
  margin: 0;
}

.product__head__info-tranform-hover__bottom div {
  padding: 5px 0;
}

.product__head__info-tranform-hover__bottom span {
  color: var(--primary-color) !important;
  margin-right: 0;
}
.product__head__info-color {
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.product__head__info-color span {
  font-size: 1.5rem;
  margin-right: 25px;
}
.product__head__info-color--btn {
  outline: none;
  padding: 8px 25px;
  border-radius: 2px;
  min-width: 20px;
  margin: 10px;
  border: solid 1px rgba(0, 0, 0, 0.1);
  font-size: 1.2rem;
  background-color: transparent;
}
.product__head__info-color--btn:hover {
  border: 1px solid var(--primary-color);
}
.flex-row {
  align-items: center;
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}
.product__head__info-count {
  padding: 0 20px;
  margin: 20px 0;
}
.product__head__info-count > span {
  font-size: 1.4rem;
  margin-right: 40px;
}
.product__head__info-count div div span {
  border: solid 1px rgba(0, 0, 0, 0.1);
  display: block;
  text-align: center;
  width: 60px;
  font-size: 1.6rem;
  height: 30px;
  line-height: 30px;
}

.product__head__info-count div button {
  cursor: pointer;
  width: 40px;
  height: 30px;
  font-size: 2rem;
  font-weight: bold;
  border: solid 1px rgba(0, 0, 0, 0.1);
  background-color: transparent;
}

.listcound {
  font-size: 1.5rem;
  margin-left: 40px;
}
.product__head__info-btn {
  padding: 20px;
}
.product__head__info-btn button {
  width: 180px;
  height: 48px;
  font-size: 1.5rem;
}
.product__head__info-btn .cart {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background-color: #fff;
}
.product__head__info-btn .buy {
  border: 1px solid var(--primary-color);
  color: #fff;
  background-color: var(--primary-color);
}

.product__head__info-refunds {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product__head__info-refund {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
}

.product__head__info-refund-icon1 {
  background-image: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/1ce96743fb9e3d51ca703e17eb491283.png);
  margin-right: 5px;
  background-size: 284.72222222222223% 241.0958904109589%;
  background-position: 7.518796992481203% 9.70873786407767%;
}
.product__head__info-refund-icon .icon1 {
  background-size: 284.72222222222223% 241.0958904109589%;
  background-position: 7.518796992481203% 9.70873786407767%;
}
.product__head__info-refund-icon2 {
  background-image: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/1ce96743fb9e3d51ca703e17eb491283.png);
  margin-right: 5px;
  background-size: 280.82191780821915% 241.0958904109589%;
  background-position: 84.84848484848484% 9.70873786407767%;
}
.product__head__info-refund-icon3 {
  background-image: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/1ce96743fb9e3d51ca703e17eb491283.png);
  margin-right: 5px;
  background-size: 284.72222222222223% 241.0958904109589%;
  background-position: 7.518796992481203% 100%;
}

.product__head__info-refund-label {
  font-size: 1.6rem;
  color: rgb(22, 21, 21);
}

.product__shop-infos {
  background-color: var(--bg-product);
  height: 140px;
  padding: 25px;
  margin-top: 15px;
}
.product__shop-info {
  display: flex;
  align-items: flex-end;
  padding: 6px 0;
}
.product__shop-info__img {
  border-radius: 50%;
  width: 78px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
}
.product__shop-info-check {
  position: relative;
  cursor: pointer;
  border: none !important;
}
.product__shop-info-check::after {
  position: absolute;
  content: "Shop Mall";
  bottom: 13px;
  left: 6px;
  width: 87%;
  display: block;
  height: 15px;
  background-color: red;
  line-height: 15px;
  color: rgba(255, 255, 255, 0.795);
  font-size: 10px;
  border-radius: 3px;
}
.product__shop-info i {
  margin-right: 5px;
}

.product__shop-info button {
  margin: 0 10px 0 20px;
  border: 1px solid var(--primary-color);
  position: relative;
  color: var(--primary-color);
}

.product__shop-info button::after {
  content: "apple_flagship_store    Online 17 phút trước ";
  position: absolute;
  top: -50px;
  font-size: 1.2rem;
  left: 0;
  color: var(--sub-text);
  line-height: 1.5;
}

.product__shop-info div {
  text-align: center;
  line-height: 34px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: var(--sub-text);
}

.product__shop-rates {
  display: flex;
  font-size: 1.5rem;
  padding-left: 30px;
}
.product__shop-rate div {
  color: var(--sub-text);
  margin-right: 40px;
  line-height: 3;
}
.product__shop-rate span {
  color: var(--primary-color);
  /* background-color: var(--bg); */
  margin-left: 10px;
}

.product-infos {
  margin-top: 15px;
}

.product-info {
}
.product-info--s1 {
  padding: 20px;
  background: var(--bg-product);
  display: block;
}
.product-info__title {
  font-size: 1.8rem;
  color: var(--pri-text);
  height: 35px;
  padding: 0 14px;
  line-height: 35px;
  margin: 10px 0 20px;
}

.product-info__span {
  color: var(--sub-text);
  font-size: 1.5rem;
  padding: 14px;
}
.product-info__span span {
  margin-left: 60px;
  color: var(--pri-text);
}

.product-info__content {
  font-size: 1.5rem;
  color: #6c6c6c;
  line-height: 2;
  padding: 14px;
}

.product-info--s2 {
  background: var(--bg-product);
  margin-top: 15px;
  display: block;
  padding: 20px;
}

.product-info__rate {
  display: flex;
  padding: 40px;
  background-color: rgba(218, 200, 200, 0.123);
  margin: 20px;
  border: 1px solid rgba(197, 163, 163, 0.137);
  border-radius: 1px;
}

.product-info__rate-right div {
  color: var(--primary-color);
  font-size: 1.8rem;
  padding: 10px;
}

.product-info__rate-right span {
  font-size: 2.5rem;
  margin-right: 5px;
  font-weight: 500;
}
.product-info__rate-right {
  width: 200px;
  margin-right: 20px;
}
.product-info__rate-left {
  display: flex;
  flex-wrap: wrap;
}
.product-info__rate-left button {
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.08);
  font-size: 1.5rem;
  font-weight: 300;
  min-width: 100px;
  height: 30px;
  margin: 5px;
  background-color: var(--bg);
  border-radius: 2px;
}

.product-info__rate-left button:first-child {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.product-info__cmt {
  padding: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.product-info__cmt-user {
  display: flex;
  align-self: center;
  font-size: 1.4rem;
}
.product-info__cmt-user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  align-self: center;
}

.product-info__cmt-user ul {
  list-style: none;
  padding: 0 20px;
}
.product-info__cmt-user li:first-child {
  color: var(--pri-text);
  font-size: 1.2rem;
}
.product-info__cmt-user li:last-child {
  color: var(--sub-text);
}
.product-info__cmt-user li:nth-child(2) {
  color: var(--primary-color);
  margin: 8px 0 5px;
}
.product-info__cmt-content {
  margin-left: 60px;
}
.product-info__cmt-content__title {
  font-size: 1.4rem;
  padding-bottom: 10px;
}

.product-info__cmt-content img {
  width: 80px;
  height: 80px;
  background-position: center;
}
.product-info__cmt-content__time {
  font-size: 1.2rem;
  margin: 15px 0;
  color: var(--sub-text);
}
.product-info__cmt-content-like {
  color: var(--sub-text);
  font-size: 1.2rem;
}
.product-info__cmt-content-like i {
  cursor: pointer;
}
.product-info__cmt-content-like span {
  margin-left: 5px;
}
.product-info__nav-mobile {
  text-align: center;
  color: var(--primary-color);
  font-size: 1.6rem;
  padding-top: 20px;
  display: none;
}

.product-info__nav {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: var(--sub-text);
}
.product-info__nav-item {
  font-style: 2rem;
  padding: 10px 20px;
  border-radius: 2px;
  margin: 0 20px;
}

.product-info__nav-item:nth-child(2) {
  background-color: var(--primary-color);
  color: #fff;
}

.product-info--s3 {
  margin-bottom: 80px;
}
.s3__head {
  margin-top: 15px;
  width: 100%;
  padding: 20px;
}
.s3__head-title {
  font-size: 1.8rem;
  color: var(--sub-text);
}
.s3__head a {
  color: var(--primary-color);
  font-size: 1.6rem;
  float: right;
}
.s3__product-item {
  min-height: 240px;
}

.s3__price {
  color: var(--primary-color);
  font-size: 1.6rem;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
}

.s3__buy {
  display: inline-block;
  color: var(--sub-text);
  font-size: 1.2rem;
  white-space: nowrap;
}

.product-same {
  background-color: var(--bg-product);
  margin-left: 15px;
  max-height: 1435px;
}

.product-same a:last-child > div {
  border: none;
}

.product-same__span {
  font-size: 1.4rem;
  color: var(--sub-text);
  background-color: var(--bg-product);
  width: 100%;
  height: 20px;
  padding: 20px;
}
.product-same__product {
  background-color: var(--bg-product);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.product-same__product img {
  width: 150px;
  align-self: center;
}

.product-same__proudct-name {
  font-size: 1.4rem;
  color: var(--pri-text);
  padding: 20px 0;
}
.product-same__product-price {
  font-size: 1.6rem;
  color: var(--primary-color);
  font-weight: 500;
}
.product__head-mobile {
  display: none;
}

.product-info--continue {
  color: var(--primary-color);
  text-align: center;
  font-size: 1.6rem;
  margin-top: 10px;
  cursor: pointer;
  display: none;
}

@media (max-width: 739px) {
  .hide-on-mobile {
    display: none;
  }
  .show-on-mobile {
    display: block;
  }
  .hide-content {
    height: 200px;
    overflow: hidden;
  }
  .product__shop-infos {
    flex-direction: column;
    flex-wrap: nowrap;
    max-height: 300px;
    justify-content: space-evenly;
    height: 200px;
  }
  .product__shop-info {
    justify-content: space-between;
  }
  .product__shop-info-check::after {
    bottom: 1px;
    left: 12px;
    width: 75%;
  }

  .product__shop-info button {
    min-width: 100px;
  }
  .product__shop-info div {
    min-width: 100px;
  }
  .product__shop-rates {
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  .product__shop-rate div {
    margin: 0;
  }

  .product-info__title {
    font-size: 1.6rem;
    margin: 0;
  }
  .product-info__rate {
    background-color: var(--bg-product);
    border: none;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .product-info__rate-right {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .product-info__rate-right div {
    font-size: 1.4rem;
  }
  .product-info__rate-right span {
    font-size: 1.8rem;
  }
  .product-info__rate-left {
    display: none;
  }

  .product-info__cmt {
    padding: 0;
  }
  .product-info__cmt-user {
    font-size: 1.2rem;
  }
  .product-info__cmt-user img {
    width: 20px;
    height: 20px;
    align-self: end;
    margin-top: 15px;
  }

  .s3__head {
    padding: 10px 20px;
    margin: 0;
  }
  .s3__head-title {
    font-size: 1.4rem;
    color: #000;
  }
  .s3__head a {
    font-size: 1.4rem;
  }
  .product-item__title-name,
  .product-item__right-text,
  .s3__price {
    font-size: 1.2rem;
  }
  .col {
    padding: 0 7px;
  }
  .s3__product-item {
    min-height: 200px;
  }

  .product__head__img {
    width: 100%;
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .product__head__info-title {
    font-size: 1.6rem;
    padding: 0 10px;
    margin: 0;
    display: flex;
    justify-content: space-between;
  }
  .product__head__info-price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 0;
  }
  .product__head__info-price-old {
    font-size: 1.4rem;
  }
  .product__head__info-price-discount {
    font-size: 1.8rem;
  }
  .product__head__info-price-sale {
    border-radius: 2px;
  }
  .product__head__info-rank {
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;
    width: 100%;
  }

  .product__head__info-rank-bought span {
    font-size: 1.2rem;
  }
  .product__head__info-rank-bought > i {
    color: var(--primary-color);
  }
  .product__head__info-rank-bought span,
  .product__head__info-rank-bought i,
  .product__head__info-rank-bought a {
    margin-left: 10px;
    padding: 0;
  }
  .product__head__info-rank-bought {
    font-size: 1.4rem;
  }
  .product__head__info-refunds {
    padding: 10px;
    display: flex;
    flex-wrap: nowrap;
    font-size: 5px;
  }
  .product__head__info-refund {
    margin-right: 0;
  }
  .product__head__info-refund div {
    font-size: 8px;
  }
  .product__head__info-tranform {
    padding: 10px 10px;
    flex-direction: column;
  }
  .product__head__info-tranform span {
    font-size: 1.4rem;
    margin-bottom: 10px;
  }
  .product__head__info-tranform-s {
    margin-left: 20px;
  }
  .product__head__info-tranform-s1 {
    align-items: center;
  }

  .product__head__info-tranform-s1 span {
    font-size: 1.2rem;
    margin: 0;
    margin-right: 10px;
  }

  .product__head__info-tranform-hover {
    width: 300px;
    right: -200px;
    top: 20px;
  }
}
